	<div class="mt-2">
		
		<div class="mt-5 text-center">
			<div class="mt-1 text-white badge text-wrap" style="text-decoration: none; font-size: 1.5rem; width: 15rem; height: 3rem; background-color: #572057 !important">
				<i class="bi bi-coin float-start"></i><%= link_to 'Caixa diário', servicos_do_dia_servicos_path, class:'text-white', style:'text-decoration: none;' %>
			</div>
		</div>

		<div class="mt-3 text-center ">
      <div class="mt-1 text-white badge text-wrap" style="text-decoration: none; font-size: 1.5rem; width: 15rem; height: 3rem; background-color: #572057 !important">
				<i class="bi bi-scissors float-start"></i><%= link_to 'Serviços', servicos_path, class:'text-white', style:'text-decoration: none;' %>
			</div>
		</div>

		<div class="mt-3 text-center <%= @qnt_agendamentos_dia > 0 ? 'animate__animated animate__headShake' : '' %>">
      <div class="mt-1 text-white badge text-wrap position-relative" style="text-decoration: none; font-size: 1.4rem; width: 15rem; height: 3rem; background-color: #572057 !important">			
				<i class="bi bi-filter float-start fs-2"></i>
				<%= link_to 'Agendamentos', agendamentos_path, class:'text-white', style:'text-decoration: none;' %>
				<% if @qnt_agendamentos_dia > 0 %>
					<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger ">
						<%= @qnt_agendamentos_dia %>
					</span>		
				<% end %>		
			</div>
		</div>

		<div class="mt-3 text-center">
      <div class="mt-1 text-white badge text-wrap" style="text-decoration: none; font-size: 1.5rem; width: 15rem; height: 3rem; background-color: #572057 !important">
				<i class="bi bi-graph-down-arrow float-start"></i><%= link_to 'Despesas', despesas_path, class:'text-white', style:'text-decoration: none;' %>
			</div>
		</div>

		<div class="mt-3 text-center">
      <div class="mt-1 text-white badge text-wrap" style="text-decoration: none; font-size: 1.5rem; width: 15rem; height: 3rem; background-color: #572057 !important">
				<i class="bi bi-currency-dollar float-start"></i><%= link_to 'Financeiro', financeiro_path, class:'text-white', style:'text-decoration: none;' %>
			</div>
		</div>
		
		<div class="mt-3 text-center">
			<div class="dropdown-center">
				<a class="" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
					<div class="mt-1 text-white badge text-wrap" style="text-decoration: none; font-size: 1.5rem; width: 15rem; height: 3rem; background-color: #572057 !important">
						<i class="bi bi-clipboard-data float-start"></i>Gráficos
					</div>
				</a>

				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="/relatorios/servicos">Serviços</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="/relatorios/despesas">Gastos por mês</a></li>
					<li><hr class="dropdown-divider"></li>
					<li><a class="dropdown-item" href="/relatorios/lucro_mes">Lucro por mês</a></li>
				</ul>
			</div>
		</div>

		<div class="mt-3 text-center mb-5">
			 <div class="mt-1 text-white badge text-wrap" style="text-decoration: none; font-size: 1.5rem; width: 15rem; height: 3rem; background-color: #572057 !important">
				<i class="bi bi-person-add float-start"></i><%= link_to 'Usuários', new_user_path, class:'text-white', style:'text-decoration: none;' %>
			</div>
		</div>

		<% if @qnt_agendamentos_dia > 0 %>
			<div class="d-flex justify-content-center">
				<div class="card text-center shadow" style="width: 15rem;">
					<div class="card-header bg-primary text-white">
					AGENDA DO <b>DIA</b>
					</div>
					<div class="card-body ">
					<h5 class="card-title"><%= pluralize(@qnt_agendamentos_dia, 'agendamento', 'agendamentos') %></h5>
					</div>
				</div>
			</div>
		<% end %>

    <% if @qnt_agendamentos_futuros > 0 %>
      <div class="d-flex justify-content-center mt-3">
        <div class="card text-center shadow" style="width: 15rem;">
          <div class="card-header bg-primary text-white">
          AGENDA <b>FUTURA</b>
          </div>
          <div class="card-body">
          <h5 class="card-title"><%= pluralize(@qnt_agendamentos_futuros, 'agendamento', 'agendamentos') %></h5>
          </div>
        </div>
      </div>
    <% end %>

		<div class="d-flex justify-content-center mt-3">
			<div class="card text-center shadow" style="width: 15rem;">
				<div class="card-header bg-success text-white">
				VALOR DO CAIXA <b>DIÁRIO</b>
				</div>
				<div class="card-body">
				<h5 class="card-title"><%= numero_real( @valor_total_dia,2) %></h5>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<div class="card text-center shadow" style="width: 15rem;">
				<div class="card-header bg-danger text-white">
				DESPESAS DO <b>DIA</b>
				</div>
				<div class="card-body">
				<h5 class="card-title"><%= numero_real( @despesas_do_dia ,2) %></h5>
				</div>
			</div>
		</div>

		<div class="d-flex justify-content-center mt-3">
			<div class="card text-center shadow" style="width: 15rem;">
				<div class="card-header bg-secondary text-white">
				VALOR DO LUCRO <b>TOTAL </b>
				</div>
				<div class="card-body">
				<h5 class="card-title"><%= numero_real( @valor_total_lucro,2) %></h5>
				</div>
			</div>
		</div>

		

		
		<!--<div class="mt-3 text-center">	
			<div class="badge bg-primary text-wrap" style="width: 15rem;">
				<%= link_to 'Caixa total', caixa_total_servicos_path, class:'text-white', style:'text-decoration: none' %>
			</div>
		</div>-->
	</div>
