<%= form_with(model: servico) do |form| %>
  <% if servico.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(servico.errors.count, "error") %> prohibited this servico from being saved:</h2>

      <ul>
        <% servico.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :nome_cliente %>
    <%= form.text_field :nome_cliente %>
  </div>

  <div class="field">
    <%= form.label :servico %>
    <%= form.text_field :servico %>
  </div>

  <div class="field">
    <%= form.label :valor %>
    <%= form.text_field :valor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
