<div class="fs-2 text-uppercase text-center mb-3">Todos os serviços</div>

<a href="/servicos/new" class="fs-1 float-end" title="Adicionar novo serviço"><i class="bi bi-plus-circle-fill color-roxo"></i></a>
<div class="d-flex justify-content-center mb-3">
  <div class="card text-center" style="width: 10rem;">
    <div class="card-header">
      Valor do caixa
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= numero_real( @valor_total,2) %></h5>
    </div>
  </div>
</div>

<div class="p-2 mt-4 card shadow">
  <table class="table">
    <thead>
      <tr>
        <th style="width:3rem">Data</th>
        <th style="width:37rem">Nome cliente</th>
        <th style="width:15rem">Servico</th>
        <th style="width:15rem">Valor</th>
        <th>Ação</th>
        
      </tr>
    </thead>

    <tbody>
      <% @servicos.each do |servico| %>
        <tr>
          <td><div><b class="ocultar-res">Data</b> <div><%= servico.data.strftime('%d/%m/%Y') %></div></div></td>
          <td><div><b class="ocultar-res">Cliente</b> <div><%= servico.nome_cliente.upcase %></div></div></td>
          <td><div><b class="ocultar-res">Serviço</b> <div><%= servico.servico.upcase %></div></div></td></td>
          <td><div><b class="ocultar-res">Valor</b> <div><%= numero_real(servico.valor,2) %></div></div></td></td>
          <td>
            <%#= link_to 'Show', servico %>
            <%= link_to '', edit_servico_path(servico), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6 bg-roxo' %>
            <%= link_to '', servico, method: :delete, data: { confirm: 'Deseja apagar esse serviço?' }, class: 'bg-roxo btn btn-primary rounded-pill bi bi-trash3-fill' %>
          </td>
          <td class="border-botton ocultar-res"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>


