<p id="notice"><%= notice %></p>

<a href="/servicos/new" class="fs-1 float-end" title="Adicionar novo serviço"><i class="bi bi-plus-circle-fill"></i></a>

<h1>Serviços do dia</h1>
<span class="mb-4">Valor do caixa <%= numero_real( @valor_total_dia,2) %></span>

<table class="table">
  <thead>
    <tr>
      <th style="width:3rem">Data</th>
      <th style="width:37rem">Nome cliente</th>
      <th style="width:15rem">Servico</th>
      <th style="width:15rem">Valor</th>
      <th>Ação</th>
      
    </tr>
  </thead>

  <tbody>
    <% @servicos_do_dia.each do |servico| %>
      <tr>
        <td><%= servico.data.strftime('%d/%m/%Y') %></td>
        <td><%= servico.nome_cliente %></td>
        <td><%= servico.servico %></td>
        <td><%= numero_real(servico.valor,2) %></td>
        <td>
          <%#= link_to 'Show', servico %>
          <%= link_to '', edit_servico_path(servico), class:'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6 rou' %>
          <%= link_to '', servico, method: :delete, data: { confirm: 'Deseja apagar esse serviço?' }, class: 'btn btn-primary rounded-pill bi bi-trash3-fill' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


