<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @despesa.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @despesa.valor %>
</p>

<%= link_to 'Edit', edit_despesa_path(@despesa) %> |
<%= link_to 'Back', despesas_path %>
