<%= form_with(model: agendamento) do |form| %>

  <div class="mb-3">
    <%= form.label :data, class:'form-label' %>

    <%= form.date_field :data, value: params[:agendamento].present? ? params[:agendamento][:data] : Date.today , class:'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :hora, 'Horários disponíveis', class:'form-label' %>
    <%= form.select :hora, [["8h"],["10h"],["12h"],["14h"],["16h"],["18h"]],{}, class:'form-control' %>
  </div>

  <div class="mb-3">
    <div class="error_message float-end" id="msg-nome-agendamento">Nome e sobrenome obrigatório</div>
    <%= form.label :nome, class:'form-label' %>
    <%= form.text_field :nome, class:"form-control moeda text-uppercase" %>

  </div>

  <div class="mb-3">
    <% if @agendamento.errors.has_key?(:telefone) %>
      <div class="error_message float-end" id="error_msg">Obrigatório</div>
    <% end %>
    <%= form.label :telefone, class:'form-label' %>

    <% if @agendamento.errors.has_key?(:telefone) %>
      <%= form.text_field :telefone, class:'form-control moeda aviso', onkeypress:"$(this).mask('(00) 00000-0000')" %>
    <% else %>
      <%= form.text_field :telefone, class:'form-control moeda', onkeypress:"$(this).mask('(00) 00000-0000')" %>
    <% end %>
   
  </div>

  <div class="mb-3">
    <% if @agendamento.errors.has_key?(:servico) %>
      <div class="error_message float-end" id="error_msg2">Selecione um serviço</div>
    <% end %>
    <%= form.label :servico, 'Serviço', class:'form-label' %>
    <%= form.select :servico, @servicos, {:include_blank => "Selecione o serviço"}, class:'form-control text-uppercase' %>
  </div>
  

  <div class="mt-5">
    <%= form.submit 'Salvar', class:'btn btn-primary', style:'background-color: #572057 !important; border: none' %>
    <%#= link_to "Voltar", _path, class:'btn btn-primary' %>
  </div>
<% end %>
<script>
$('#agendamento_telefone').mask('(00) 00000-0000')
</script>

<script>
$('#msg-nome-agendamento').hide()
  const nameField = document.querySelector('#agendamento_nome');
  const telefone = document.querySelector('#agendamento_telefone');
  const servico = document.querySelector('#agendamento_servico');
  const nameError = document.querySelector('.error_message');
  const nameError1 = document.querySelector('#error_msg');
  const nameError2 = document.querySelector('#error_msg2');
  const padrao = /^((\b[A-zÀ-ú']{2,40}\b)\s*){2,}$/; //regex para nome e sobrenome(3 caracteres)

  nameField.addEventListener('keyup', () => {
    if (nameField.value !== '' && padrao.test(nameField.value) ) {
      //nameError.style.display = 'none';
      $('#msg-nome-agendamento').hide()
      nameField.classList.remove ("aviso")
    } else {
      $('#msg-nome-agendamento').show()
      //nameError.style.display = 'block';
      nameField.classList.add ("aviso")
    }
  });

  telefone.addEventListener('input', () => {
    if (telefone.value.trim() !== '') {
      nameError1.style.display = 'none';
      telefone.classList.remove ("aviso")
    } else {
      nameError1.style.display = 'block';
      telefone.classList.add ("aviso")
    }
  });

  servico.addEventListener('input', () => {
    if (servico.value.trim() !== '') {
      nameError2.style.display = 'none';
      servico.classList.remove ("aviso")
    } else {
      nameError2.style.display = 'block';
      servico.classList.add ("aviso")
    }
  });
</script>

<% unless params[:action] == 'edit' %>
  <script>

  $('#agendamento_data').change(function() {
    
    fetch("/agendamentos/json_teste?data="+ $('#agendamento_data').val())
    .then( response => response.json())
    .then( json => {

      var htmlOptions = ""
      
  //debugger

      if(json.length >= 1){
        $("#agendamento_hora").empty();
        array = ["8h","10h","12h","14h","16h","18h"]
        for (i = 0; i < array.length; i++) {
          $('#agendamento_hora').append('<option>' + array[i] + '</option>');
        }
        for (var i = 0; i<json.length; i++){
          $('#agendamento_hora option').each(function() {
            if ( $(this).val() == json[i]['hora'] ) {
            $(this).remove();
            }
          });
        }
          var x = $('#agendamento_hora').val()
          if ((x == "")||(x == null)) {
          $('#agendamento_hora').append('<option>Sem hora dispónivel</option>');
          return false;
          };
      }else{
        $("#agendamento_hora").empty();
        array = ["8h","10h","12h","14h","16h","18h"]
        for (i = 0; i < array.length; i++) {
          $('#agendamento_hora').append('<option>' + array[i] + '</option>');
        }
      }

  });

  })

  $('#agendamento_data').ready(function() {
    
    fetch("/agendamentos/json_teste?data="+ $('#agendamento_data').val())
    .then( response => response.json())
    .then( json => {

      var htmlOptions = ""
      
  //debugger

      if(json.length >= 1){
        $("#agendamento_hora").empty();
        array = ["8h","10h","12h","14h","16h","18h"]
        for (i = 0; i < array.length; i++) {
          $('#agendamento_hora').append('<option>' + array[i] + '</option>');
        }
        for (var i = 0; i<json.length; i++){
          $('#agendamento_hora option').each(function() {
            if ( $(this).val() == json[i]['hora'] ) {
            $(this).remove();
            }
          });
        }
          var x = $('#agendamento_hora').val()
          if ((x == "")||(x == null)) {
          $('#agendamento_hora').append('<option>Sem hora dispónivel</option>');
          return false;
          };
      }else{
        $("#agendamento_hora").empty();
        array = ["8h","10h","12h","14h","16h","18h"]
        for (i = 0; i < array.length; i++) {
          $('#agendamento_hora').append('<option>' + array[i] + '</option>');
        }
      }


  });

  })
  </script>
<% end %>
