<%= form_with(model: agendamento) do |form| %>

  <%= render 'layouts/error_messages', object: form.object %>


  <div class="mb-3">
    <%= form.label :data, class:'form-label' %>
    <%= form.date_field :data, value: Date.today, class:'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :hora, 'Horários disponíveis', class:'form-label' %>
    <%= form.select :hora, [["8h"],["10h"],["12h"],["14h"],["16h"],["18h"]],{}, class:'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :nome, class:'form-label' %>
    <%= form.text_field :nome, class:'form-control moeda text-uppercase' %>
  </div>

  <div class="mb-3">
    <%= form.label :telefone, class:'form-label' %>
    <%= form.text_field :telefone, class:'form-control moeda', onkeypress:"$(this).mask('(00) 00000-0000')" %>
  </div>

  <div class="mb-3">
    <%= form.label :servico, 'Serviço', class:'form-label' %>
    <%= form.text_field :servico, class:'form-control text-uppercase' %>
  </div>
  

  <div class="mt-5">
    <%= form.submit 'Salvar', class:'btn btn-primary', style:'background-color: #572057 !important; border: none' %>
    <%#= link_to "Voltar", _path, class:'btn btn-primary' %>
  </div>
<% end %>

<script>

$('#agendamento_data').change(function() {
  
  fetch("/agendamentos/json_teste?data="+ $('#agendamento_data').val())
  .then( response => response.json())
  .then( json => {

    var htmlOptions = ""
    
//debugger

    if(json.length >= 1){
      $("#agendamento_hora").empty();
      array = ["8h","10h","12h","14h","16h","18h"]
      for (i = 0; i < array.length; i++) {
        $('#agendamento_hora').append('<option>' + array[i] + '</option>');
      }
      for (var i = 0; i<json.length; i++){
        $('#agendamento_hora option').each(function() {
          if ( $(this).val() == json[i]['hora'] ) {
          $(this).remove();
          }
        });
      }
        var x = $('#agendamento_hora').val()
        if ((x == "")||(x == null)) {
        $('#agendamento_hora').append('<option>Sem hora dispónivel</option>');
        return false;
        };
    }else{
      $("#agendamento_hora").empty();
      array = ["8h","10h","12h","14h","16h","18h"]
      for (i = 0; i < array.length; i++) {
        $('#agendamento_hora').append('<option>' + array[i] + '</option>');
      }
    }

});

})

$('#agendamento_data').ready(function() {
  
  fetch("/agendamentos/json_teste?data="+ $('#agendamento_data').val())
  .then( response => response.json())
  .then( json => {

    var htmlOptions = ""
    
//debugger

    if(json.length >= 1){
      
      for (var i = 0; i<json.length; i++){
        $('#agendamento_hora option').each(function() {
          if ( $(this).val() == json[i]['hora'] ) {
          $(this).remove();
          }
        });
      }
    }else{
      $("#agendamento_hora").empty();
      array = ["8h","10h","12h","14h","16h","18h"]
      for (i = 0; i < array.length; i++) {
        $('#agendamento_hora').append('<option>' + array[i] + '</option>');
      }
    }

});

})
</script>
