<h3 class="mt-2 mb-5">AGENDAMENTOS FUTUROS</h3>

<div>
  <form>
  <div class="row mb-4">
    <div class="col-sm-2 mb-2">
      <input type="text" name="nome_search" value="<%= params[:nome_search].present? ? params[:nome_search] : '' %>" placeholder="Buscar por nome..." class="form-control"
      onkeyup="
      var nome = this.value;
      if (nome !== null){
        this.value = nome.toUpperCase();
      }
      ">
    </div>
    <div class="col-sm-2 mb-2">
      <input type="text" name="servico_search" value="<%= params[:servico_search].present? ? params[:servico_search] : '' %>" placeholder="Buscar por serviço..." class="form-control"
      onkeyup="
      var servico = this.value;
      if (servico !== null){
        this.value = servico.toUpperCase();
      }
      ">
    </div>
    <div class="col-sm-2 mb-2">
      <input type="text" name="data_search" placeholder="Buscar por data..." value="<%= params[:data_search].present? ? Date.parse(params[:data_search]).strftime("%d/%m/%Y") : '' %>" class="form-control" 
      onkeyup="
        var v = this.value;
        if (v.match(/^\d{2}$/) !== null) {
            this.value = v + '/';
        } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
            this.value = v + '/';
        }"
        maxlength="10">
    </div>
    <div class="col-sm-4">
      <button type="submit" class="btn bg-roxo text-white ms-3">Buscar</button>
      <a href="/agendamentos/futuros" class="btn bg-roxo text-white ms-2">Limpar Filtro</a>
    </div>
  </div>
  </form>
</div>

<div class="card shadow p-2 mt-4">
  <table class="table">
    <thead>
      <tr>
        <th style="width:3rem">Data</th>
        <th>Hora</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Serviço</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @agendamentos.each do |agendamento| %>
        <tr>
          <td><div><b class="ocultar-res">Data</b> <div><%= agendamento.data.strftime('%d/%m/%Y') %></div></div></td>
          <td><div><b class="ocultar-res">Hora</b> <div><%= agendamento.hora %></div></div></td>
          <td><div><b class="ocultar-res">Cliente</b> <div><%= agendamento.nome.upcase %></div></div></td>
          <td><div><b class="ocultar-res">Telefone</b> <div><span class="telefone"><%= agendamento.telefone %></span>
            <a href="https://wa.me/55<%= agendamento.telefone %>" target="_blank" class="badge rounded-pill bg-success" title="Abrir whatsapp do cliente">
              <i class="bi bi-whatsapp text-white"></i>
            </a>
            </div></div>
          </td>
          <td><div><b class="ocultar-res">Serviço</b> <div><%= agendamento.servico.upcase %></div></div></td>
          <td>
            <%#= link_to 'Show', agendamento %>
            <%= link_to '', edit_agendamento_path(agendamento), class: 'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6 bg-roxo'  %>
            <%= link_to '', agendamento, method: :delete, class: 'btn btn-primary rounded-pill bi bi-trash3-fill bg-roxo', data: { confirm: 'Are you sure?' } %>
          </td>
          <td class="border-botton ocultar-res"></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="div-pagy mt-4">
  <%== pagy_bootstrap_nav(@pagy) %>
</div>

<script>
  $('.telefone').mask('(00) 00000-0000')
</script>

<%= link_to 'Voltar', agendamentos_path, class: 'btn btn-primary mt-4 bg-roxo'  %>
