

<a href="/agendamentos/new" class="fs-1 float-end color-roxo" title="Adicionar novo agendamento"><i class="bi bi-plus-circle-fill"></i></a>
<a href="/agendamentos/futuros" class="fs-1 float-end me-2 color-roxo" title="Mostrar agendamentos futuros"><i class="bi bi-fast-forward-circle-fill"></i></a>
<a href="/agendamentos/todos" class="fs-1 float-end me-2 color-roxo" title="Mostrar todos os agendamentos"><i class="bi bi-filter-circle-fill"></i></a>
<h3 class="mt-2 mb-5">AGENDAMENTOS DO DIA</h3>

<div>
  <form>
  <div class="row mb-4">
    <div class="col-sm-2 mb-2">
      <input type="text" name="nome_search" placeholder="Buscar por nome..." class="form-control ">
    </div>
    <div class="col-sm-2 mb-2">
      <input type="text" name="servico_search" placeholder="Buscar por serviço..." class="form-control ">
    </div>
    <div class="col-sm-4 mb-2">
      <button type="submit" class="btn bg-roxo text-white ms-3">Buscar</button>
      <a href="/agendamentos" class="btn bg-roxo text-white ms-2">Limpar Filtro</a>
    </div>
  </div>
  </form>
</div>

<% if @qnt_agendamentos >= 1 %>
  <div>Você tem <b class="color-roxo"><%= pluralize(@qnt_agendamentos, 'serviço agendado', 'serviços agendados') %></b> hoje.</div>
<% else %>
  <div>Você ainda não tem serviços agendados hoje.</div>
<% end %>

<% unless @agendamentos_dia.empty? %>
  <div class="p-2 mt-4 card shadow">
    <table class="table ">
      <thead>
        <tr>
          <th style="width:3rem">Data</th>
          <th>Hora</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Serviço</th>
          <th>Ações</th>
        </tr>
      </thead>

      <tbody class="">
        <% @agendamentos_dia.each do |agendamento| %>
          <tr>
            <td><div><b class="ocultar-res">Data</b> <div><%= agendamento.data.strftime('%d/%m/%Y') %></div></div></td>
            <td><div><b class="ocultar-res">Hora</b> <div><%= agendamento.hora %></div></div></td>
            <td><div><b class="ocultar-res">Cliente</b> <div><%= agendamento.nome.upcase %></div></div></td>
            <td><div><b class="ocultar-res">Telefone</b> <div><span class="telefone"><%= agendamento.telefone %></span>
              <a href="https://wa.me/55<%= agendamento.telefone %>" target="_blank" class="badge rounded-pill bg-success" title="Abrir whatsapp do cliente">
                <i class="bi bi-whatsapp text-white"></i>
              </a>
              </div></div>
            </td>
            <td><div><b class="ocultar-res">Serviço</b> <div><%= agendamento.servico&.upcase.gsub(/\-.+/, "") %></div></div></td>
            <td>
              <%#= link_to 'Show', agendamento %>
              <%= link_to '', new_servico_path(servico2: agendamento.servico, nome: agendamento.nome.upcase, data: agendamento.data), class: 'btn btn-primary rounded-pill bi bi-wallet2 text-white fs-6 bg-roxo'  %>
              <%= link_to '', edit_agendamento_path(agendamento), class: 'btn btn-primary rounded-pill bi bi-pencil-square text-white fs-6 bg-roxo'  %>
              <%= link_to '', agendamento, method: :delete, class: 'btn btn-primary rounded-pill bi bi-trash3-fill bg-roxo', data: { confirm: 'Vai apagar?' } %>
            </td>
            <td class="border-botton ocultar-res"></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="p-2 mt-4 card shadow">
    <table class="table">
      <thead>
        <tr>
          <th style="width:3rem">Data</th>
          <th>Hora</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Serviço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan=12>
            <% if params[:nome_search].present? %>
              <b>Nome não encontrado</b>
            <% else %>
              <b>Serviço não encontrado</b>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>

<div class="mt-4">
  <% if @qnt_agendamentos_futuros >= 1 %>
    <a href="/agendamentos/futuros" style="text-decoration: none" class="text-black"><div>Você tem <b class="color-roxo"><%= pluralize(@qnt_agendamentos_futuros, 'serviço agendado', 'serviços agendados') %></b> futuro.</div></a>
  <% end %>
</div>

<script>
$('.telefone').mask('(00) 00000-0000')
</script>



