<a href="/users" class="fs-1 float-end me-2 color-roxo" title="Mostrar usuários cadastrados"><i class="bi bi-filter-circle-fill"></i></a>
<h3 class="mb-4 mt-2">Cadastro de Usuários</h3>
<%= form_for @user do |form| %>

	<%#= render 'layouts/error_messages', object: form.object %>

	<div class="mb-3 mt-3">
		<%= form.label :nome,'Usuário', class:'form-label' %>
		<%= form.text_field :nome, class:'form-control text-uppercase' %>
		<div class="error_message" id="error_msg_nome">Usuário já cadastrado</div>
		<div class="error_message" id="error_msg_nome_branco">Não pode ser em branco</div>
	</div>

	<div class="mb-3">
		<%= form.label :password, 'Senha', class:'form-label' %>
		<%= form.password_field :password, class:'form-control' %>
		<div class="error_message" id="error_msg_pass">As senhas precisam ser iguais</div>
	</div>
	
	<div class="mb-3">
		<%= form.label :password_confirmation, 'Confirme a senha', class:'form-label' %>
		<%= form.password_field :password_confirmation, class:'form-control moeda' %>
	</div>

	<div class=" ">
		<input type="checkbox" id="mostrar-senha" >
		<label for="mostrar-senha" style="font-size: 0.7rem; " class="">Mostar senhas</label>
	</div>

	<div class="mt-5 mb-5">
			<%= form.submit 'Cadastrar', class:'btn btn-primary', id:'btn-sub', style:'background-color: #572057 !important; border: none' %>
			<%= link_to 'Voltar', root_path, class:'btn btn-primary', style:'background-color: #572057 !important; border: none' %>
	</div>
<% end %>


<script>
var input = document.querySelector('#user_password_confirmation');
var input2 = document.querySelector('#user_password');
var img = document.querySelector('#mostrar-senha');
img.addEventListener('click', function () {
  input.type = input.type == 'text' ? 'password' : 'text';
  input2.type = input2.type == 'text' ? 'password' : 'text';
});


$('#error_msg_pass').hide()

$('#user_password_confirmation').keyup(function() {
	if( ($('#user_password').val() == $('#user_password_confirmation').val()) || $('#user_password_confirmation').val() == '' ){
		$('#error_msg_pass').hide()
	}else{
		$('#error_msg_pass').show()
	}
})

</script>

<script>
$('#error_msg_nome').hide()
$('#error_msg_nome_branco').hide()

$('#user_nome').keyup(function() {
  fetch("/users/json_teste?nome="+ $('#user_nome').val().toLowerCase() )
  .then( response => response.json())
  .then( json => {
    if (json.length > 0 ){
			$('#error_msg_nome').show()
			$("#btn-sub").attr("disabled", true);
    }else{
				if ( $('#user_nome').val() === '' ){
					$("#btn-sub").attr("disabled", true);
					$('#error_msg_nome_branco').show()
				}else{
					$('#error_msg_nome_branco').hide()
					$("#btn-sub").attr("disabled", false);
				}
			$('#error_msg_nome').hide()
			
		}

    });
})
</script>